@model IEnumerable<Race>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Races";
}
<style>
    .track-image {
        object-fit: contain;
        max-height: 250px;
    }
</style>
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        @if (Model.Count() == 0)
        {
            <p class="h4">Oops, Nothing here!</p>
        }

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-sm position-relative">
                        <div class="flex flex-row m-3">
                            <a type="button" asp-controller="Race" asp-action="Edit" asp-route-id="@item.Id"
                               class="btn btn-sm btn-outline-secondary position-absolute top-0 end-0 m-3">
                                Edit
                            </a>
                        </div>
                        <img class="card-img-top track-image" src="@item.TrackLayout" alt="Alternate Text" />
                        <div class="card-body">


                            <p class="card-text">@item.Name [<small class="text-body-secondary">@item.RaceType</small>]</p>
                            <p class="card-text">@item.Track</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" asp-controller="Race" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Info</a>
                                    <a type="button" asp-controller="Race" asp-action="Ticket" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Tickets</a>
                                </div>
                                <small class="text-body-secondary">@item.RaceCategory</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
